{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_hashtag', {
        new_hash: $('input[name="new_hash"]').val()
      }, function(data) {
        $('#hash').text(data.hash);
        $('input[name=new_hash]').focus().select();
      });
      return false;
    };

    $('new_hash#calculate').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=new_hash]').focus();
  });
</script>
<h1>Hashtags</h1>
<p>
  <input type=text size=5 name='new_hash'>
  <span id=hash></span>
<p><a href=# id=calculate>calculate server side</a>
{% endblock %}