<script>
(function worker() {
  $.ajax({
    url : $SCRIPT_ROOT + '/trendy',
    success: function(data) {
      var res = "<table>";
      var link_1 = "<a href=\"/remove_hashtag/";
      var link_2 = "\">Remove</a>";
      for (i=0;i<data.trendy[0].length;i++){
        for (i=0;i<data.trendy.length;i++){
          res = res + "<tr>";
          res = res + "<td>" + data.trendy[i][0] + "</td>";
          res = res + "<td>" + link_1 + data.trendy[i][0] + link_2 + "</td>";
          res = res + "</tr>";
        }
      }
      res = res + "</table>";
      $('#trendy').html(res);
    },
    complete: function() {
      setTimeout(worker, 1000);
    }
  });
})();
</script>
<div id='trendy'></div>
